.score_board {
    padding: 8px;
    margin: 8px;
    display: flex;
    color: rgb(255, 255, 255);
    outline: 0px;
    width: 100px;
}

.active {
    outline: white solid;
}

.player1 {
    background:rgb(0, 175, 20);
}

.player2 {
    background:rgb(177, 0, 44);
}